--
-- PostgreSQL database dump
--

\restrict lgtGS7ZIWQDbNTmub7knefZ9tbaVWxiQkQ2y94yVGBWAoBU7tRhZRirOyYePppt

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_student_activity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_student_activity() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO student_activity (user_id, session_count, last_session_date, updated_at)
    VALUES (NEW.user_id, 1, NEW.date, CURRENT_TIMESTAMP)
    ON CONFLICT (user_id) 
    DO UPDATE SET 
        session_count = student_activity.session_count + 1,
        last_session_date = NEW.date,
        updated_at = CURRENT_TIMESTAMP;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_student_activity() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comment_likes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comment_likes (
    id integer NOT NULL,
    user_id integer,
    comment_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.comment_likes OWNER TO postgres;

--
-- Name: comment_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comment_likes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comment_likes_id_seq OWNER TO postgres;

--
-- Name: comment_likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comment_likes_id_seq OWNED BY public.comment_likes.id;


--
-- Name: comment_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comment_permissions (
    id integer NOT NULL,
    gameplan_id integer,
    user_id integer,
    can_comment boolean DEFAULT true,
    can_delete boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.comment_permissions OWNER TO postgres;

--
-- Name: comment_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comment_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comment_permissions_id_seq OWNER TO postgres;

--
-- Name: comment_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comment_permissions_id_seq OWNED BY public.comment_permissions.id;


--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id integer NOT NULL,
    user_id integer,
    training_session_id integer,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comments_id_seq OWNER TO postgres;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    title character varying(100) NOT NULL,
    date timestamp without time zone NOT NULL,
    type character varying(50) DEFAULT 'general'::character varying NOT NULL,
    description text,
    torneo_data jsonb,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: gameplan_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gameplan_comments (
    id integer NOT NULL,
    user_id integer,
    gameplan_id integer,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gameplan_comments OWNER TO postgres;

--
-- Name: gameplan_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gameplan_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gameplan_comments_id_seq OWNER TO postgres;

--
-- Name: gameplan_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gameplan_comments_id_seq OWNED BY public.gameplan_comments.id;


--
-- Name: gameplan_connections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gameplan_connections (
    id integer NOT NULL,
    gameplan_id integer,
    from_node integer NOT NULL,
    to_node integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gameplan_connections OWNER TO postgres;

--
-- Name: gameplan_connections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gameplan_connections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gameplan_connections_id_seq OWNER TO postgres;

--
-- Name: gameplan_connections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gameplan_connections_id_seq OWNED BY public.gameplan_connections.id;


--
-- Name: gameplan_favorites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gameplan_favorites (
    id integer NOT NULL,
    user_id integer,
    gameplan_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gameplan_favorites OWNER TO postgres;

--
-- Name: gameplan_favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gameplan_favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gameplan_favorites_id_seq OWNER TO postgres;

--
-- Name: gameplan_favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gameplan_favorites_id_seq OWNED BY public.gameplan_favorites.id;


--
-- Name: gameplan_nodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gameplan_nodes (
    id integer NOT NULL,
    gameplan_id integer,
    technique_id character varying(50),
    name character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    x integer DEFAULT 0,
    y integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gameplan_nodes OWNER TO postgres;

--
-- Name: gameplan_nodes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gameplan_nodes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gameplan_nodes_id_seq OWNER TO postgres;

--
-- Name: gameplan_nodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gameplan_nodes_id_seq OWNED BY public.gameplan_nodes.id;


--
-- Name: gameplan_shares; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gameplan_shares (
    id integer NOT NULL,
    gameplan_id integer,
    from_user_id integer,
    to_user_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gameplan_shares OWNER TO postgres;

--
-- Name: gameplan_shares_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gameplan_shares_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gameplan_shares_id_seq OWNER TO postgres;

--
-- Name: gameplan_shares_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gameplan_shares_id_seq OWNED BY public.gameplan_shares.id;


--
-- Name: gameplans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gameplans (
    id integer NOT NULL,
    user_id integer,
    name character varying(100) NOT NULL,
    description text,
    "position" character varying(50) DEFAULT 'guard'::character varying,
    is_public boolean DEFAULT false,
    is_suggested boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.gameplans OWNER TO postgres;

--
-- Name: gameplans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gameplans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gameplans_id_seq OWNER TO postgres;

--
-- Name: gameplans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gameplans_id_seq OWNED BY public.gameplans.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer,
    title character varying(100) NOT NULL,
    message text NOT NULL,
    type character varying(50) DEFAULT 'info'::character varying,
    is_read boolean DEFAULT false,
    related_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    user_id integer,
    token text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: student_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_activity (
    id integer NOT NULL,
    user_id integer,
    session_count integer DEFAULT 0,
    last_session_date timestamp without time zone,
    status character varying(20) DEFAULT 'active'::character varying,
    objectives jsonb,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.student_activity OWNER TO postgres;

--
-- Name: student_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_activity_id_seq OWNER TO postgres;

--
-- Name: student_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_activity_id_seq OWNED BY public.student_activity.id;


--
-- Name: technique_videos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.technique_videos (
    id integer NOT NULL,
    technique_id integer,
    video_url character varying(255) NOT NULL,
    video_type character varying(20) DEFAULT 'youtube'::character varying,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.technique_videos OWNER TO postgres;

--
-- Name: technique_videos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.technique_videos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.technique_videos_id_seq OWNER TO postgres;

--
-- Name: technique_videos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.technique_videos_id_seq OWNED BY public.technique_videos.id;


--
-- Name: techniques; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.techniques (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(50),
    belt_level character varying(20) DEFAULT 'white'::character varying,
    level character varying(20) DEFAULT 'beginner'::character varying,
    description text,
    created_by integer,
    approved boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    category character varying(50) DEFAULT 'technique'::character varying,
    CONSTRAINT check_belt_not_null_for_technique CHECK ((((category)::text <> 'technique'::text) OR (belt_level IS NOT NULL))),
    CONSTRAINT check_level_not_null_for_technique CHECK ((((category)::text <> 'technique'::text) OR (level IS NOT NULL))),
    CONSTRAINT check_technique_fields CHECK (((((category)::text = 'fight'::text) AND (type IS NULL) AND (belt_level IS NULL) AND (level IS NULL)) OR (((category)::text = 'technique'::text) AND (type IS NOT NULL) AND (belt_level IS NOT NULL) AND (level IS NOT NULL)))),
    CONSTRAINT check_type_not_null_for_technique CHECK ((((category)::text <> 'technique'::text) OR (type IS NOT NULL))),
    CONSTRAINT techniques_category_check CHECK (((category)::text = ANY ((ARRAY['technique'::character varying, 'fight'::character varying])::text[])))
);


ALTER TABLE public.techniques OWNER TO postgres;

--
-- Name: techniques_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.techniques_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.techniques_id_seq OWNER TO postgres;

--
-- Name: techniques_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.techniques_id_seq OWNED BY public.techniques.id;


--
-- Name: training_schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.training_schedule (
    id integer NOT NULL,
    day character varying(20) NOT NULL,
    "time" character varying(50) NOT NULL,
    class character varying(100) NOT NULL,
    level character varying(50) NOT NULL,
    day_order integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.training_schedule OWNER TO postgres;

--
-- Name: training_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.training_schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.training_schedule_id_seq OWNER TO postgres;

--
-- Name: training_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.training_schedule_id_seq OWNED BY public.training_schedule.id;


--
-- Name: training_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.training_sessions (
    id integer NOT NULL,
    user_id integer,
    date date NOT NULL,
    techniques text[],
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    rating integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT training_sessions_rating_check CHECK (((rating >= 0) AND (rating <= 10)))
);


ALTER TABLE public.training_sessions OWNER TO postgres;

--
-- Name: training_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.training_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.training_sessions_id_seq OWNER TO postgres;

--
-- Name: training_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.training_sessions_id_seq OWNED BY public.training_sessions.id;


--
-- Name: user_objectives; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_objectives (
    id bigint CONSTRAINT user_objectives_new_id_not_null NOT NULL,
    user_id integer CONSTRAINT user_objectives_new_user_id_not_null NOT NULL,
    title character varying(255) CONSTRAINT user_objectives_new_title_not_null NOT NULL,
    description text,
    deadline date,
    completed boolean DEFAULT false,
    completed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_objectives OWNER TO postgres;

--
-- Name: user_objectives_old; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_objectives_old (
    id integer CONSTRAINT user_objectives_id_not_null NOT NULL,
    user_id integer,
    title character varying(100) CONSTRAINT user_objectives_title_not_null NOT NULL,
    description text,
    deadline date,
    completed boolean DEFAULT false,
    completed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_objectives_old OWNER TO postgres;

--
-- Name: user_objectives_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_objectives_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_objectives_id_seq OWNER TO postgres;

--
-- Name: user_objectives_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_objectives_id_seq OWNED BY public.user_objectives_old.id;


--
-- Name: user_objectives_new_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_objectives_new_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_objectives_new_id_seq OWNER TO postgres;

--
-- Name: user_objectives_new_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_objectives_new_id_seq OWNED BY public.user_objectives.id;


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_preferences (
    id integer NOT NULL,
    user_id integer,
    theme character varying(20) DEFAULT 'auto'::character varying,
    notifications_enabled boolean DEFAULT true,
    language character varying(10) DEFAULT 'es'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_preferences OWNER TO postgres;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_preferences_id_seq OWNER TO postgres;

--
-- Name: user_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_preferences_id_seq OWNED BY public.user_preferences.id;


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    id integer NOT NULL,
    user_id integer,
    nickname character varying(50),
    profile_picture text,
    academy character varying(100) DEFAULT 'JIUJITSU CLUBE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_profiles_id_seq OWNER TO postgres;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_profiles_id_seq OWNED BY public.user_profiles.id;


--
-- Name: user_technique_views; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_technique_views (
    id integer NOT NULL,
    user_id integer,
    technique_id integer,
    viewed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_technique_views OWNER TO postgres;

--
-- Name: user_technique_views_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_technique_views_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_technique_views_id_seq OWNER TO postgres;

--
-- Name: user_technique_views_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_technique_views_id_seq OWNED BY public.user_technique_views.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    belt character varying(20) DEFAULT 'white'::character varying,
    role character varying(20) DEFAULT 'student'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: comment_likes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_likes ALTER COLUMN id SET DEFAULT nextval('public.comment_likes_id_seq'::regclass);


--
-- Name: comment_permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_permissions ALTER COLUMN id SET DEFAULT nextval('public.comment_permissions_id_seq'::regclass);


--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: gameplan_comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_comments ALTER COLUMN id SET DEFAULT nextval('public.gameplan_comments_id_seq'::regclass);


--
-- Name: gameplan_connections id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_connections ALTER COLUMN id SET DEFAULT nextval('public.gameplan_connections_id_seq'::regclass);


--
-- Name: gameplan_favorites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_favorites ALTER COLUMN id SET DEFAULT nextval('public.gameplan_favorites_id_seq'::regclass);


--
-- Name: gameplan_nodes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_nodes ALTER COLUMN id SET DEFAULT nextval('public.gameplan_nodes_id_seq'::regclass);


--
-- Name: gameplan_shares id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_shares ALTER COLUMN id SET DEFAULT nextval('public.gameplan_shares_id_seq'::regclass);


--
-- Name: gameplans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplans ALTER COLUMN id SET DEFAULT nextval('public.gameplans_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: student_activity id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_activity ALTER COLUMN id SET DEFAULT nextval('public.student_activity_id_seq'::regclass);


--
-- Name: technique_videos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.technique_videos ALTER COLUMN id SET DEFAULT nextval('public.technique_videos_id_seq'::regclass);


--
-- Name: techniques id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.techniques ALTER COLUMN id SET DEFAULT nextval('public.techniques_id_seq'::regclass);


--
-- Name: training_schedule id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.training_schedule ALTER COLUMN id SET DEFAULT nextval('public.training_schedule_id_seq'::regclass);


--
-- Name: training_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.training_sessions ALTER COLUMN id SET DEFAULT nextval('public.training_sessions_id_seq'::regclass);


--
-- Name: user_objectives id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_objectives ALTER COLUMN id SET DEFAULT nextval('public.user_objectives_new_id_seq'::regclass);


--
-- Name: user_objectives_old id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_objectives_old ALTER COLUMN id SET DEFAULT nextval('public.user_objectives_id_seq'::regclass);


--
-- Name: user_preferences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences ALTER COLUMN id SET DEFAULT nextval('public.user_preferences_id_seq'::regclass);


--
-- Name: user_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles ALTER COLUMN id SET DEFAULT nextval('public.user_profiles_id_seq'::regclass);


--
-- Name: user_technique_views id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_technique_views ALTER COLUMN id SET DEFAULT nextval('public.user_technique_views_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: comment_likes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comment_likes (id, user_id, comment_id, created_at) FROM stdin;
\.


--
-- Data for Name: comment_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comment_permissions (id, gameplan_id, user_id, can_comment, can_delete, created_at) FROM stdin;
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (id, user_id, training_session_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.events (id, title, date, type, description, torneo_data, created_by, created_at, updated_at) FROM stdin;
1	Open Mat	2025-12-26 17:00:00	entrenamiento	Open Mat vengan no sean Pussys	\N	34	2025-12-09 11:23:22.562089	2025-12-09 11:23:22.562089
\.


--
-- Data for Name: gameplan_comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gameplan_comments (id, user_id, gameplan_id, content, created_at) FROM stdin;
2	34	1	Holaaaaaaa	2025-12-09 18:12:06.018396
\.


--
-- Data for Name: gameplan_connections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gameplan_connections (id, gameplan_id, from_node, to_node, created_at) FROM stdin;
5	1	13	14	2026-03-10 20:32:50.589244
6	1	14	12	2026-03-10 20:32:50.589244
\.


--
-- Data for Name: gameplan_favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gameplan_favorites (id, user_id, gameplan_id, created_at) FROM stdin;
\.


--
-- Data for Name: gameplan_nodes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gameplan_nodes (id, gameplan_id, technique_id, name, type, x, y, created_at) FROM stdin;
11	1	guard-closed	Guardia Cerrada	technique	213	19	2026-03-10 20:32:50.589244
12	1	guard-open	Guardia Abierta	technique	454	36	2026-03-10 20:32:50.589244
13	1	guard-closed	Guardia Cerrada	technique	113	193	2026-03-10 20:32:50.589244
14	1	guard-open	Guardia Abierta	technique	466	189	2026-03-10 20:32:50.589244
\.


--
-- Data for Name: gameplan_shares; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gameplan_shares (id, gameplan_id, from_user_id, to_user_id, created_at) FROM stdin;
\.


--
-- Data for Name: gameplans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gameplans (id, user_id, name, description, "position", is_public, is_suggested, created_at, updated_at) FROM stdin;
1	34	Guardia X a Montada		guard	f	f	2025-12-09 11:21:08.175569	2026-03-10 20:32:50.589244
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, title, message, type, is_read, related_id, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student_activity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_activity (id, user_id, session_count, last_session_date, status, objectives, notes, created_at, updated_at) FROM stdin;
2	35	2	2025-12-21 00:00:00	active	\N	\N	2025-12-09 11:25:17.382988	2025-12-09 11:25:29.30275
1	34	23	2025-12-24 00:00:00	active	\N	\N	2025-12-09 11:20:43.317197	2025-12-09 18:09:42.149733
\.


--
-- Data for Name: technique_videos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.technique_videos (id, technique_id, video_url, video_type, is_primary, created_at) FROM stdin;
2	1	https://www.youtube.com/watch?v=6iXbQBmNIPU&t=13s	youtube	t	2025-12-09 17:07:25.091229
\.


--
-- Data for Name: techniques; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.techniques (id, name, type, belt_level, level, description, created_by, approved, created_at, updated_at, category) FROM stdin;
1	Old School Closed Guard Pass - Andre Galvaoa	pass	purple	advanced	vsvsv	34	t	2025-12-09 17:04:41.096861	2025-12-09 17:07:25.091229	technique
\.


--
-- Data for Name: training_schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: training_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.training_sessions (id, user_id, date, techniques, notes, created_at, rating, updated_at) FROM stdin;
2	35	2025-12-12	{qqqq}	qqqqqwwqwqee	2025-12-09 11:25:17.382988	5	2025-12-09 15:23:21.682255
3	35	2025-12-21	{wqee}	eqee3q	2025-12-09 11:25:29.30275	7	2025-12-09 15:23:21.682255
21	34	2025-12-09	{dww}	dw	2025-12-09 18:04:25.029015	3	2025-12-09 18:04:25.029015
25	34	2025-12-24	{dasda}	dasd	2025-12-09 18:09:42.149733	3	2025-12-09 18:09:42.149733
\.


--
-- Data for Name: user_objectives; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_objectives (id, user_id, title, description, deadline, completed, completed_at, created_at, updated_at) FROM stdin;
5	35	Podio en el IBJJF DE ROSARIO	adsdads	\N	t	2025-12-10 18:53:31.9	2025-12-10 18:52:49.592457	2025-12-10 18:53:31.901156
6	35	wfgesg	sgdgg	\N	f	\N	2025-12-10 18:55:23.382514	2025-12-10 18:55:32.299809
\.


--
-- Data for Name: user_objectives_old; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_objectives_old (id, user_id, title, description, deadline, completed, completed_at, created_at, updated_at) FROM stdin;
1	34	dqqw	dqdwq	2025-12-14	t	2025-12-09 19:46:11.471	2025-12-09 18:26:27.547099	2025-12-09 19:46:11.471952
\.


--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_preferences (id, user_id, theme, notifications_enabled, language, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_profiles (id, user_id, nickname, profile_picture, academy, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_technique_views; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_technique_views (id, user_id, technique_id, viewed_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password, belt, role, created_at) FROM stdin;
1	Admin User	admin@bjj.com	$2a$10$rOzZJb7UKbBQK1a0w1qgE.A6q9q9q9q9q9q9q9q9q9q9q9q9q9q9q	black	master	2025-11-04 19:08:47.770544
34	ignacio vazquez	nashio631@gmail.com	$2b$12$eduEOgEMSbRx.lrBb6hMiuly.r.jMWp2hjiZ1IENV6YgHVAfUPRwK	black	master	2025-11-04 21:26:38.19202
35	Jose Luis	joseluis@gmail.com	$2b$12$2CrcIJ144kqQsoSO6q.UUuv/.fsietASlldlamitdzvRfFHpXOndS	white	student	2025-11-04 21:27:30.333895
\.


--
-- Name: comment_likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comment_likes_id_seq', 1, false);


--
-- Name: comment_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comment_permissions_id_seq', 1, false);


--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comments_id_seq', 1, false);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 1, true);


--
-- Name: gameplan_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gameplan_comments_id_seq', 2, true);


--
-- Name: gameplan_connections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gameplan_connections_id_seq', 6, true);


--
-- Name: gameplan_favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gameplan_favorites_id_seq', 1, true);


--
-- Name: gameplan_nodes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gameplan_nodes_id_seq', 14, true);


--
-- Name: gameplan_shares_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gameplan_shares_id_seq', 1, false);


--
-- Name: gameplans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gameplans_id_seq', 1, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 16, true);


--
-- Name: student_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_activity_id_seq', 25, true);


--
-- Name: technique_videos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.technique_videos_id_seq', 2, true);


--
-- Name: techniques_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.techniques_id_seq', 1, true);


--
-- Name: training_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.training_schedule_id_seq', 33, true);


--
-- Name: training_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.training_sessions_id_seq', 25, true);


--
-- Name: user_objectives_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_objectives_id_seq', 1, true);


--
-- Name: user_objectives_new_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_objectives_new_id_seq', 25, true);


--
-- Name: user_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_preferences_id_seq', 1, false);


--
-- Name: user_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_profiles_id_seq', 1, false);


--
-- Name: user_technique_views_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_technique_views_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 35, true);


--
-- Name: comment_likes comment_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_pkey PRIMARY KEY (id);


--
-- Name: comment_likes comment_likes_user_id_comment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_user_id_comment_id_key UNIQUE (user_id, comment_id);


--
-- Name: comment_permissions comment_permissions_gameplan_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_permissions
    ADD CONSTRAINT comment_permissions_gameplan_id_user_id_key UNIQUE (gameplan_id, user_id);


--
-- Name: comment_permissions comment_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_permissions
    ADD CONSTRAINT comment_permissions_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: gameplan_comments gameplan_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_comments
    ADD CONSTRAINT gameplan_comments_pkey PRIMARY KEY (id);


--
-- Name: gameplan_connections gameplan_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_connections
    ADD CONSTRAINT gameplan_connections_pkey PRIMARY KEY (id);


--
-- Name: gameplan_favorites gameplan_favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_favorites
    ADD CONSTRAINT gameplan_favorites_pkey PRIMARY KEY (id);


--
-- Name: gameplan_favorites gameplan_favorites_user_id_gameplan_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_favorites
    ADD CONSTRAINT gameplan_favorites_user_id_gameplan_id_key UNIQUE (user_id, gameplan_id);


--
-- Name: gameplan_nodes gameplan_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_nodes
    ADD CONSTRAINT gameplan_nodes_pkey PRIMARY KEY (id);


--
-- Name: gameplan_shares gameplan_shares_gameplan_id_to_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_shares
    ADD CONSTRAINT gameplan_shares_gameplan_id_to_user_id_key UNIQUE (gameplan_id, to_user_id);


--
-- Name: gameplan_shares gameplan_shares_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_shares
    ADD CONSTRAINT gameplan_shares_pkey PRIMARY KEY (id);


--
-- Name: gameplans gameplans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplans
    ADD CONSTRAINT gameplans_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_key UNIQUE (token);


--
-- Name: student_activity student_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_activity
    ADD CONSTRAINT student_activity_pkey PRIMARY KEY (id);


--
-- Name: student_activity student_activity_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_activity
    ADD CONSTRAINT student_activity_user_id_key UNIQUE (user_id);


--
-- Name: technique_videos technique_videos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.technique_videos
    ADD CONSTRAINT technique_videos_pkey PRIMARY KEY (id);


--
-- Name: techniques techniques_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.techniques
    ADD CONSTRAINT techniques_pkey PRIMARY KEY (id);


--
-- Name: training_schedule training_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.training_schedule
    ADD CONSTRAINT training_schedule_pkey PRIMARY KEY (id);


--
-- Name: training_sessions training_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.training_sessions
    ADD CONSTRAINT training_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_objectives user_objectives_new_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_objectives
    ADD CONSTRAINT user_objectives_new_pkey PRIMARY KEY (id);


--
-- Name: user_objectives_old user_objectives_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_objectives_old
    ADD CONSTRAINT user_objectives_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_key UNIQUE (user_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_key UNIQUE (user_id);


--
-- Name: user_technique_views user_technique_views_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_technique_views
    ADD CONSTRAINT user_technique_views_pkey PRIMARY KEY (id);


--
-- Name: user_technique_views user_technique_views_user_id_technique_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_technique_views
    ADD CONSTRAINT user_technique_views_user_id_technique_id_key UNIQUE (user_id, technique_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_events_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_date ON public.events USING btree (date);


--
-- Name: idx_events_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_type ON public.events USING btree (type);


--
-- Name: idx_gameplan_comments_gameplan_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gameplan_comments_gameplan_id ON public.gameplan_comments USING btree (gameplan_id);


--
-- Name: idx_gameplan_comments_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_gameplan_comments_unique ON public.gameplan_comments USING btree (gameplan_id, user_id, content, created_at);


--
-- Name: idx_gameplan_connections_gameplan_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gameplan_connections_gameplan_id ON public.gameplan_connections USING btree (gameplan_id);


--
-- Name: idx_gameplan_nodes_gameplan_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gameplan_nodes_gameplan_id ON public.gameplan_nodes USING btree (gameplan_id);


--
-- Name: idx_gameplans_is_public; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gameplans_is_public ON public.gameplans USING btree (is_public);


--
-- Name: idx_gameplans_is_suggested; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gameplans_is_suggested ON public.gameplans USING btree (is_suggested);


--
-- Name: idx_gameplans_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gameplans_user_id ON public.gameplans USING btree (user_id);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: idx_refresh_tokens_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_expires ON public.refresh_tokens USING btree (expires_at);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_student_activity_last_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_activity_last_session ON public.student_activity USING btree (last_session_date);


--
-- Name: idx_student_activity_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_activity_user_id ON public.student_activity USING btree (user_id);


--
-- Name: idx_techniques_approved; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_techniques_approved ON public.techniques USING btree (approved);


--
-- Name: idx_techniques_belt_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_techniques_belt_level ON public.techniques USING btree (belt_level);


--
-- Name: idx_techniques_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_techniques_type ON public.techniques USING btree (type);


--
-- Name: idx_training_schedule_day_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_training_schedule_day_order ON public.training_schedule USING btree (day_order);


--
-- Name: idx_training_sessions_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_training_sessions_date ON public.training_sessions USING btree (date);


--
-- Name: idx_training_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_training_sessions_user_id ON public.training_sessions USING btree (user_id);


--
-- Name: idx_user_objectives_completed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_objectives_completed ON public.user_objectives USING btree (completed);


--
-- Name: idx_user_objectives_deadline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_objectives_deadline ON public.user_objectives USING btree (deadline);


--
-- Name: idx_user_objectives_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_objectives_user_id ON public.user_objectives USING btree (user_id);


--
-- Name: idx_user_technique_views_technique_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_technique_views_technique_id ON public.user_technique_views USING btree (technique_id);


--
-- Name: idx_user_technique_views_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_technique_views_user_id ON public.user_technique_views USING btree (user_id);


--
-- Name: training_sessions after_training_session_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER after_training_session_insert AFTER INSERT ON public.training_sessions FOR EACH ROW EXECUTE FUNCTION public.update_student_activity();


--
-- Name: training_sessions update_training_sessions_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_training_sessions_updated_at BEFORE UPDATE ON public.training_sessions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: comment_likes comment_likes_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.gameplan_comments(id) ON DELETE CASCADE;


--
-- Name: comment_likes comment_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: comment_permissions comment_permissions_gameplan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_permissions
    ADD CONSTRAINT comment_permissions_gameplan_id_fkey FOREIGN KEY (gameplan_id) REFERENCES public.gameplans(id) ON DELETE CASCADE;


--
-- Name: comment_permissions comment_permissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comment_permissions
    ADD CONSTRAINT comment_permissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: comments comments_training_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_training_session_id_fkey FOREIGN KEY (training_session_id) REFERENCES public.training_sessions(id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: events events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gameplan_comments gameplan_comments_gameplan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_comments
    ADD CONSTRAINT gameplan_comments_gameplan_id_fkey FOREIGN KEY (gameplan_id) REFERENCES public.gameplans(id) ON DELETE CASCADE;


--
-- Name: gameplan_comments gameplan_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_comments
    ADD CONSTRAINT gameplan_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gameplan_connections gameplan_connections_gameplan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_connections
    ADD CONSTRAINT gameplan_connections_gameplan_id_fkey FOREIGN KEY (gameplan_id) REFERENCES public.gameplans(id) ON DELETE CASCADE;


--
-- Name: gameplan_favorites gameplan_favorites_gameplan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_favorites
    ADD CONSTRAINT gameplan_favorites_gameplan_id_fkey FOREIGN KEY (gameplan_id) REFERENCES public.gameplans(id) ON DELETE CASCADE;


--
-- Name: gameplan_favorites gameplan_favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_favorites
    ADD CONSTRAINT gameplan_favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gameplan_nodes gameplan_nodes_gameplan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_nodes
    ADD CONSTRAINT gameplan_nodes_gameplan_id_fkey FOREIGN KEY (gameplan_id) REFERENCES public.gameplans(id) ON DELETE CASCADE;


--
-- Name: gameplan_shares gameplan_shares_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_shares
    ADD CONSTRAINT gameplan_shares_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gameplan_shares gameplan_shares_gameplan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_shares
    ADD CONSTRAINT gameplan_shares_gameplan_id_fkey FOREIGN KEY (gameplan_id) REFERENCES public.gameplans(id) ON DELETE CASCADE;


--
-- Name: gameplan_shares gameplan_shares_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplan_shares
    ADD CONSTRAINT gameplan_shares_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gameplans gameplans_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gameplans
    ADD CONSTRAINT gameplans_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: student_activity student_activity_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_activity
    ADD CONSTRAINT student_activity_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: technique_videos technique_videos_technique_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.technique_videos
    ADD CONSTRAINT technique_videos_technique_id_fkey FOREIGN KEY (technique_id) REFERENCES public.techniques(id) ON DELETE CASCADE;


--
-- Name: techniques techniques_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.techniques
    ADD CONSTRAINT techniques_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: training_sessions training_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.training_sessions
    ADD CONSTRAINT training_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_objectives user_objectives_new_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_objectives
    ADD CONSTRAINT user_objectives_new_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_objectives_old user_objectives_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_objectives_old
    ADD CONSTRAINT user_objectives_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_preferences user_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_technique_views user_technique_views_technique_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_technique_views
    ADD CONSTRAINT user_technique_views_technique_id_fkey FOREIGN KEY (technique_id) REFERENCES public.techniques(id) ON DELETE CASCADE;


--
-- Name: user_technique_views user_technique_views_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_technique_views
    ADD CONSTRAINT user_technique_views_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict lgtGS7ZIWQDbNTmub7knefZ9tbaVWxiQkQ2y94yVGBWAoBU7tRhZRirOyYePppt

